name: E2E Docker Proxy Plugins Test

on:
  workflow_dispatch:
  pull_request:
  push:
  schedule:
    # run every sunday
    - cron: '0 0 * * 0'
jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3
      
    - name: Start containers
      run: docker-compose -f "./docker/docker-build-install-plugin/docker-compose.yaml" up -d --build

    - name: Install node
      uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # v3
      with:
        node-version: 18

    - name: verdaccio cli
      run: npm install -g verdaccio --registry=http://localhost:4873
    - name: gastby cli 
      run:  npm install -g gatsby-cli --registry http://localhost:4873
    - name: netlify cli 
      run:  npm install -g netlify-cli --registry http://localhost:4873
    - name: angular cli 
      run:  npm install -g @angular/cli --registry http://localhost:4873

    - name: Stop containers
      if: always()
      run: docker-compose -f "./docker/docker-build-install-plugin/docker-compose.yaml" down