name: E2E Docker Proxy Nginx Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 6.x
jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Start containers
        run: docker compose -f "./docker/proxy-nginx/docker-compose.yaml" up -d --build

      - name: Install node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24
      - name: npm setup
        run: |
          npm config set fetch-retries="5"
          npm config set fetch-retry-factor="50"
          npm config set fetch-retry-mintimeout="20000"
          npm config set fetch-retry-maxtimeout="80000"
      - name: verdaccio cli
        run: npm install -g verdaccio --registry http://localhost
      - name: gastby cli
        run: npm install -g gatsby-cli --registry http://localhost
      - name: angular cli
        run: npm install -g @angular/cli --registry http://localhost

      - name: Stop containers
        if: always()
        run: docker compose -f "./docker/proxy-nginx/docker-compose.yaml" down
