name: E2E CLI

concurrency:
  group: e2e-cli-${{ github.ref }}
  cancel-in-progress: true  

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # run every sunday
    - cron: '0 0 * * 0'
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Use Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: '.nvmrc'
      - name: corepack
        run: corepack enable
      - name: pnpm enable
        run: corepack prepare pnpm@latest-8 --activate
      - name: set store
        run: |
          mkdir ~/.pnpm-store
          pnpm config set store-dir ~/.pnpm-store
      - name: Set up .npmrc
        run: |
          echo "//rg.verdaccio.org/:_authToken=${{ secrets.VERDACCIO_TOKEN }}" > .npmrc
      - name: registry
        run: npm config set registry https://rg.verdaccio.org
      - name: Install
        run: pnpm install
      - name: Cache .pnpm-store
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}-${{ github.run_id }}-${{ github.sha }}
          restore-keys: |
            pnpm-
      - name: build
        run: pnpm build
      - name: Cache tools
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        id: cache-tools
        with:
          path: ./tools/
          key: pkg-${{ hashFiles('pnpm-lock.yaml') }}-${{ github.run_id }}-${{ github.sha }}
          restore-keys: |
            tools-
  e2e-cli:
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        pkg: [npm7, npm8, npm9, npm10, pnpm8, pnpm9, pnpm10, yarn1, yarn2, yarn3, yarn4]
        node: [20, 22, 23]
    name: ${{ matrix.pkg }}/ ubuntu-latest / ${{ matrix.node }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ matrix.node }}
      - name: corepack
        run: corepack enable
      - name: pnpm enable
        run: corepack prepare pnpm@latest-8 --activate
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}-${{ github.run_id }}-${{ github.sha }}
      - name: Set up .npmrc
        run: |
          echo "//rg.verdaccio.org/:_authToken=${{ secrets.VERDACCIO_TOKEN }}" > .npmrc
      - name: registry
        run: npm config set registry https://rg.verdaccio.org
      - name: Install
        run: pnpm install --frozen-lockfile
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: ./tools/
          key: pkg-${{ hashFiles('pnpm-lock.yaml') }}-${{ github.run_id }}-${{ github.sha }}
      - name: Test CLI
        run: NODE_ENV=production pnpm test --filter ...@verdaccio/e2e-cli-${{matrix.pkg}}
