name: E2E Docker UI Cypress

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 6.x
jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Start containers
        run: docker compose -f "./docker/docker-e2e-ui/docker-compose.yaml" up -d --build

      - name: Install node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24

      - name: Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: '.nvmrc'
      - name: Set up .npmrc
        run: |
          echo "//rg.verdaccio.org/:_authToken=${{ secrets.VERDACCIO_TOKEN }}" > .npmrc
      - name: registry
        run: npm config set registry https://rg.verdaccio.org
      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare --activate pnpm@latest-8
          pnpm install

      - name: login
        run: npx npm-cli-login -u test -p test -e test@domain.test -r http://localhost:4873

      - name: build
        run: pnpm build

      - name: tests
        run: pnpm test:ui

      - name: Stop containers
        if: always()
        run: docker compose -f "./docker/docker-e2e-ui/docker-compose.yaml" down
