name: Docker Smoke Test
on:
  workflow_dispatch:
  push:
  schedule:
    # run every sunday
    - cron: '0 0 * * 0'
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24
      - name: Docker test
        run: |
          docker run -d -it --rm --name verdaccio -p 4873:4873 verdaccio/verdaccio:latest
      - name: verdaccio cli
        run: npm install -g verdaccio --registry http://localhost:4873
      - name: gastby cli
        run: npm install -g gatsby-cli --registry http://localhost:4873
      - name: netlify cli
        run: npm install -g netlify-cli --registry http://localhost:4873
      - name: angular cli
        run: npm install -g @angular/cli --registry http://localhost:4873
