---
name: update canary dependency

on:
  workflow_dispatch:
  schedule:
    # twice peer week
    - cron: '0 0 * * 1,4'
  # for now, scheduled, we can enable on push master but not make much sense now
  push:
    branches:
      - 6.x

permissions:
  contents: write

jobs:
  prepare:
    name: Update verdaccio canary dependency
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Use Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: '.nvmrc'
      - name: corepack
        run: corepack enable
      - name: pnpm enable
        run: corepack prepare pnpm@latest-8 --activate
      - name: Set up .npmrc
        run: |
          echo "//rg.verdaccio.org/:_authToken=${{ secrets.VERDACCIO_TOKEN }}" > .npmrc
      - name: registry
        run: npm config set registry https://rg.verdaccio.org
      - name: install
        run: pnpm install
      - name: update to latest canary
        run: cd tools/cli-commons && pnpm install verdaccio@canary-6x
      - name: restore .npmrc
        run: git checkout .npmrc
      - name: Commit & Push changes
        uses: actions-js/push@5a7cbd780d82c0c937b5977586e641b2fd94acc5 # v1.5
        with:
          github_token: ${{ secrets.TOKEN_VERDACCIOBOT_V2 }}
          message: 'chore: updated canary verdaccio canary 6.x'
          branch: 6.x
          author_email: verdaccio.npm@gmail.com
          author_name: verdacciobot
